.home-screen {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.top-menu {
    width: 100vw;
    height: 80px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
}

.profile {
    fill: white;
    cursor: pointer;
}

.level {
    fill: gray;
}

.title {
    color: black;
    font-family: 'Arial Black', sans-serif;
    user-select: none;
}

.shop {
    fill: white;
}

.profile-overlay {
    position: absolute;
    top: 120px; 
    left: 0;
    width: 100vw;
    height: calc(100vh - 120px); 
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background: none;
    font-size: 30px;
    color: gray;
    cursor: pointer;
    user-select: none;
}