.home-screen {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: radial-gradient(circle, #2e7d32 0%, #1b5e20 100%);
    overflow: hidden;
}

.top-menu {
    width: 100%;
    padding: 20px;
    background-color: magenta;
    display: flex;
    align-items: center;
}

.profile {
    fill: white;
}

.level {
    fill: gray;
}

.title {
    color: black;
    font-family: 'Arial Black', sans-serif;
}

.shop {
    color: black;
}